/* medium-zoom */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

/* navbar and home title */
.VPNav .VPNavBar .VPNavBarTitle .title,
.VPContent .VPHome .VPHero .name .clip {
  background: var(--vp-home-hero-name-background);
  text-fill-color: var(--vp-home-hero-name-color);
  color: var(--vp-home-hero-name-color);
  -webkit-background-clip: text;
  background-clip: text;
}
