.vp-doc > * {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.vp-doc > *:nth-child(1) { --stagger: 1; }
.vp-doc > *:nth-child(2) { --stagger: 2; }
.vp-doc > *:nth-child(3) { --stagger: 3; }
.vp-doc > *:nth-child(4) { --stagger: 4; }
.vp-doc > *:nth-child(5) { --stagger: 5; }
.vp-doc > *:nth-child(6) { --stagger: 6; }
.vp-doc > *:nth-child(7) { --stagger: 7; }
.vp-doc > *:nth-child(8) { --stagger: 8; }
.vp-doc > *:nth-child(9) { --stagger: 9; }
.vp-doc > *:nth-child(10) { --stagger: 10; }
.vp-doc > *:nth-child(11) { --stagger: 11; }
.vp-doc > *:nth-child(12) { --stagger: 12; }
.vp-doc > *:nth-child(13) { --stagger: 13; }
.vp-doc > *:nth-child(14) { --stagger: 14; }
.vp-doc > *:nth-child(15) { --stagger: 15; }
.vp-doc > *:nth-child(16) { --stagger: 16; }
.vp-doc > *:nth-child(17) { --stagger: 17; }
.vp-doc > *:nth-child(18) { --stagger: 18; }
.vp-doc > *:nth-child(19) { --stagger: 19; }
.vp-doc > *:nth-child(20) { --stagger: 20; }

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    animation: enter 0.6s both;
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
}

[data-animation-controller='false'] [data-animate] {
  animation: none;
}
