{
  // "extends": "@antfu",
  "rules": {
    "func-style": [
      2,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ]
    // "arrow-parens": [2, "as-needed", { "requireForBlockBody": false }]
  }
}
