@font-face {
  font-family: 'Noto Serif SC';
  src: url('./NotoSerifSC-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url('./NotoSansMono-Regular.ttf');
}

@font-face {
  font-family: RobotoMono;
  src: url('./RobotoMono-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./Roboto-Regular.ttf');
}
